@import
 url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

 *{
     box-sizing: border-box;
     transition: all ease-in-out 250ms;
  }

 body{
     margin: 0;
     font-family: 'Raleway',sans-serif;
     text-align: center;
    }

    nav{
        background-color: rgb(2, 26, 37);
        width: 100%;
        margin-top: -3.3em;
    }


    nav ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    nav li{
        /*display: inline-block;*/
        margin: 1em;
        float: right;
    }
    
    nav a{
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.9rem;
        padding: 1em;
        color: #FFF;
    }
    
    @media(min-width:60rem){
        nav{
            float: right;
        }
    }

    .nav-li:hover{
      background-color: #4CAF50;
      padding: 16px;
    }

    .top{
        font-size: 5em;
        color: rgb(106, 207, 4);
    }

    #container tr td 
    {
	    text-align: left;
	    padding: 12px;
	    vertical-align: bottom;
	    border-bottom: 1px solid grey;
	    box-shadow: 2px 1px 10px ;
	    backdrop-filter: blur(10px);
    }

    .h{
        font-size: 2em;
        font-weight: bold;
    }

    .list{
        margin-left: 20em;
    }

    .delete{
        font-size:26px;
        color: red;
        text-decoration: none;
    }

    .list-item{
        font-size: 26px;
    }

    /*---------button----------------*/

    .button{
        /*font-size: 1.5rem;*/
        text-decoration: none;
        text-transform: uppercase;
        border-width: 2px;
        border-style: solid;
        padding: 0.5em 1.5em;
        display: inline-block;
        cursor: pointer;
        font-weight: bold;
        box-shadow: 5px 10px 5px grey;
        /* display: block; */
        width: 20em;
        margin-top: 2em;
        /* vertical-align: bottom; */
    }
    
      button-small{
        font-size: 0.5rem;
        /* font-weight: 700; */
    }
    
    .button-accent{
        color: /*#42b924*/ white;
        border-color: /*#00ff6c*/ black;
        background-color: black;
    }
    
    .button-accent:hover,
    .button-accent:focus{
        background: #00ff6c;
        color: #232323;
        border-color: #00ff6c;
    }
    
    @media(min-width: 60rem){
       .button{
           font-size: 1.2rem;
       }
    }

    /*------------------------------------------------------------------*/

    /* footer{ */
        /* position: sticky; */
        /* margin-top: 30em; */
    /* } */