@import
 url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

 @import
url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

 *{
     /*box-sizing: border-box;*/
     transition: all ease-in-out 250ms;
  }

 body{
     margin: 0;
     font-family: 'Raleway',sans-serif;
     text-align: center;
    }

    nav{
        background-color: rgb(2, 26, 37);
        width: 100%;
        /*margin-top: -1.5em;*/
    }


    nav ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    nav li{
        /*display: inline-block;*/
        margin: 1em;
        float: right;
    }
    
    nav a{
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.9rem;
        padding: 1em;
        color: #FFF;
    }
    
    @media(min-width:60rem){
        nav{
            float: right;
        }
    }

    .nav-li:hover{
      background-color: #4CAF50;
      padding: 16px;
    }

    .top{
        font-size: 5em;
        color: rgb(106, 207, 4);
    }

    .row{
        display: flex;
    }
   
    .column{
        float: left;
    }
   
    .side-bar{
        width: 30%;
        background-color: rgb(230, 222, 222);
    }
   
    .main-page{
        width: 70%;
    }

   .side-head{
    color: #42b924;
    font-weight: bold;
    font-size: 5rem;
 }

 .side-tag{
    font-family: 'Dancing Script', cursive;
    color: #42b924;
    font-weight: bold;
    font-size: 2em;
 }

 .main-head{
     margin-top: 5rem;
     font-weight: bold;
     font-size: 4.5em;
     color: rgb(106, 207, 4);
 }

 /*-----------------typewriter effect----------------------------------------------*/

 @keyframes text2 {
    0%, 50%, 100% {
      width: 0;
    }
    
    55%, 80% {
      width: 8.2em;
    }
  }

 @keyframes text1 {
    0%, 50%, 100% {
      width: 0;
    }
    10%, 20% {
      width: 7.8em;
    }
  }

  .text_1 {
    animation: text1;
    font-size: 1.4em;
    font-weight: bold;
  }
  .text_2 {
    animation: text2;
    font-size: 1.4em;
    font-weight: bold;
  }
  
  .text_1, .text_2 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 10s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
  }
  .text_1::after, .text_2::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 0.5s;
    animation-timing-function: steps(1, end);
  }

  /*-------------------------------------------------------------------------*/

  .button{
    /*font-size: 1.5rem;*/
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: 0.5em 1.5em;
    display: inline-block;
    cursor: pointer;
}

  button-small{
    font-size: 0.5rem;
    font-weight: 700;
}

.button-accent{
    color: #42b924;
    border-color: #00ff6c;
}

.button-accent:hover,
.button-accent:focus{
    background: #00ff6c;
    color: #232323;
}

@media(min-width: 60rem){
   .button{
       font-size: 1.2rem;
   }
}

/*-------------CARD------------------------------------------------

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, $regal-blue, $san-juan);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: $open-sans;
}

.cardTitle {
  text-decoration: none;
}

.title {
  font-family: $open-sans;
  font-weight: 300;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

// Base styles
.card {
  float: left;
  padding: 0 1.7rem;
  width: 80%;
  .menu-content {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      color: $white;
    }
    span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      font-family: 'Open Sans';
      transform: translate(-50%, 0);
    }
  }
  .wrapper {
    background-color: $white;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
  }
  .data {
	  float: right;
    width: 60%;
	 height: 100%;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .author {
    font-size: 12px;
  }
  .title {
    margin-top: 10px;
  }
  .text {
    height: 70px;
    margin: 0;
  }
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + .menu-content {
    transform: translateY(-60px);
  }
}

// First example styles
.example-1 {
  .wrapper {

	 
  }
  .date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bermuda;
    color: $white;
    padding: 0.8em;
    span {
      display: block;
      text-align: center;
    }
    .day {
      font-weight: 700;
      font-size: 24px;
      text-shadow: 2px 3px 2px rgba($black, 0.18);
    }
    .month {
      text-transform: uppercase;
    }
    .month,
    .year {
      font-size: 12px;
    }
  }
  .content {
    background-color: $white;
    box-shadow: 0 5px 30px 10px rgba($black, 0.3);
  }
  .title a {
      color: lighten($black, 50%);
    }
  
}

.image {
	float: left;
	width: 40%;
}

.book-image {
	width: 100%;
	display: block;
	height: 80%;
	margin-top: auto;
	margin-bottom: auto;
}

--------------------------------------------------------------------*/

.image{
  width: 30%;
  background-color: chartreuse;
  float: left;
  height: 100%;
}

.content{
  width: 70%;
  background-color: rgb(194, 245, 143);
  height: 100%;
}

.card1{
  margin-left: 2rem;
  margin-bottom: 4rem;
}

.card-head{
  color: darkgreen;
  font-weight: bold;
  font-size: 2.4em;
}

.card-data{
  font-size: 1.3em;

}