@import
 url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

 @import
url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

 *{
     /*box-sizing: border-box;*/
     transition: all ease-in-out 250ms;
  }

 body{
     margin: 0;
     font-family: 'Raleway',sans-serif;
     text-align: center;
    }

    nav{
        background-color: rgb(2, 26, 37);
        width: 100%;
        /*margin-top: -1.5em;*/
    }


    nav ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    nav li{
        /*display: inline-block;*/
        margin: 1em;
        float: right;
    }
    
    nav a{
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.9rem;
        padding: 1em;
        color: #FFF;
    }
    
    @media(min-width:60rem){
        nav{
            float: right;
        }
    }

    .nav-li:hover{
      background-color: #4CAF50;
      padding: 16px;
    }

    .top{
        font-size: 5em;
        color: rgb(106, 207, 4);
    }

    .row{
        display: flex;
    }
   
    .column{
        float: left;
    }
   
    .side-bar{
        width: 30%;
        background-color: rgb(230, 222, 222);
    }
   
    .main-page{
        width: 70%;
    }

   .side-head{
    color: #42b924;
    font-weight: bold;
    font-size: 5rem;
 }

 .side-tag{
    font-family: 'Dancing Script', cursive;
    color: #42b924;
    font-weight: bold;
    font-size: 2em;
 }

 .main-head{
     margin-top: 5rem;
     font-weight: bold;
     font-size: 4.5em;
     color: rgb(106, 207, 4);
 }

 /*-----------------typewriter effect----------------------------------------------*/

 @keyframes text2 {
    0%, 50%, 100% {
      width: 0;
    }
    
    55%, 80% {
      width: 8.2em;
    }
  }

 @keyframes text1 {
    0%, 50%, 100% {
      width: 0;
    }
    10%, 20% {
      width: 7.8em;
    }
  }

  @keyframes text3 {
    0%, 50%, 100% {
      width: 0;
    }
    10%, 20% {
      width: 4.5em;
    }
  }

  .text_1 {
    animation: text1;
    font-size: 1.4em;
    font-weight: bold;
  }
  .text_2 {
    animation: text2;
    font-size: 1.4em;
    font-weight: bold;
  }
  .text_3 {
    animation: text3;
    font-size: 1.4em;
    font-weight: bold;
  }
  
  .text_1, .text_2, .text_3 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 10s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
  }
  .text_1::after, .text_2::after, .text_3::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 0.5s;
    animation-timing-function: steps(1, end);
  }

  /*-------------------------------------------------------------------------*/

  .button{
    /*font-size: 1.5rem;*/
    text-decoration: none;
    text-transform: uppercase;
    /*border-width: 2px;
    border-style: solid;
    border-radius: 80%;*/
    /*padding: 0.5em 0.5em;*/
    /*display: inline-block;*/
    cursor: pointer;
    float: right;
    background: transparent;
    padding-right: 0.3em;
    border: none;
    outline: none;
    font-weight: bold;
}

  button-small{
    font-size: 2rem;
    font-weight: 700;
}

.button-accent{
    color: #42b924;
    /*border-color: #00ff6c;*/
    /*background-color: #83d86e;*/
}

.button-accent:hover,
.button-accent:focus{
    /*background: #00ff6c;*/
    color: rgb(87, 133, 19);
}

@media(min-width: 60rem){
   .button{
       font-size: 4rem;
   }
}

/*-------------CARD------------------------------------------------*/

.image{
  width: 50%;
  background-color: rgb(194, 245, 143);
  float: left;
  /*height: 100%;*/
}

.content{
  width: 50%;
  background-color: rgb(194, 245, 143);
  height: 100%;
}

.card1{
  margin-left: 4em;
  margin-bottom: 3.6rem;
  width: 50em;
}

.card-head{
  color: darkgreen;
  font-weight: bold;
  font-size: 2.4em;
}

.card-data{
  font-size: 1.3em;
}