@import
 url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import
url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


 *{
     box-sizing: border-box;
     transition: all ease-in-out 250ms;
 }

 #cursive{
    font-family: 'Dancing Script', cursive;
 }

 body{
     margin: 0;
     font-family: 'Raleway',sans-serif;
     text-align: center;
 }

 .row{
     display: flex;
 }

 .column{
     float: left;
 }

 .side-bar{
     width: 30%;
     background-color: rgb(230, 222, 222);
 }

 .main-page{
     width: 70%;
 }

 header{
    position: absolute;
    margin-top: 1em;
    left: 0;
    right: 0;
}

nav{
    background-color: rgb(2, 26, 37);
    width: 100%;
    /*margin-top: -1.5em;*/
}


nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    /*display: inline-block;*/
    margin: 1em;
    float: right;
}

nav a{
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 1em;
    color: #FFF;
}

@media(min-width:60rem){
    nav{
        float: right;
        /*margin-top: -3.3em;*/
    }
}

.nav-li:hover{
  background-color: #4CAF50;
  padding: 16px;
}

 .side-head{
    color: #42b924;
    font-weight: bold;
    font-size: 5rem;
 }

 .side-tag{
    font-family: 'Dancing Script', cursive;
    color: #42b924;
    font-weight: bold;
    font-size: 2em;
 }

 .main-head{
     margin-top: 5rem;
 }